In [1]:
ls

Jan2017.ipynb         cat_ts_1.ipynb        grad.ipynb
Jan2018_ml.ipynb      cat_ts_2.ipynb        jan2018_stats2.ipynb
Jan2018_stats.ipynb   data/                 survived.csv
README.md             dim_fig.ipynb         titanic.ipynb*
Untitled.ipynb        figs/                 titanic_FV.csv

In [23]:
import glob
import pandas as pd
all_files = []
#replace "data/titanic" with path to your data
for f in glob.glob("data/titanic*"):
    df = pd.read_csv(f)
    p, i = os.path.splitext(f)
    df['identity'] = p.split("/")[-1]
    all_files.append(df)

df = pd.concat(all_files)

In [25]:
df.groupby(['identity']).count()

,Age,Cabin,Embarked,Embarked_C,Embarked_Q,Embarked_S,Fare,FareN,Name,Parch,...,embarked,fare,home.dest,name,parch,pclass,sex,sibsp,survived,ticket
identity,,,,,,,,,,,,,,,,,,,,,
titanic,714,204,889,0,0,0,891,0,891,891,...,0,0,0,0,0,0,0,0,0,0
titanicfull,0,0,0,0,0,0,0,0,0,0,...,1307,1308,745,1309,1309,1309,1309,1309,1309,1309
titanictest,332,91,418,0,0,0,417,0,418,418,...,0,0,0,0,0,0,0,0,0,0
titanictrainfv,0,0,0,712,712,712,0,712,0,712,...,0,0,0,0,0,0,0,0,0,0